<footer class="w-screen mx-auto p-12 md:py-8 bg-neutral-900 justify-center">
    <div class="flex items-center justify-between">
    <!-- logo -->
    <div class="flex flex-row items-center">
      <fa-icon routerLink="/" [icon]="['fas', 'jedi']" class="logo text-3xl mr-2 cursor-pointer easehover"
        [class]="['text-emerald-400']"></fa-icon>
      <a routerLink="/" class="logotext text-gray-50">ByteBot Chronicles</a>
    </div>
      <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
        <li>
          <a href="/home" class="hover:underline me-4 md:me-6  hover:text-purple-600 easehover">Home</a>
        </li>
        <li>
          <a href="/about" class="hover:underline me-4 md:me-6  hover:text-purple-600 easehover">About</a>
        </li>
        <li>
          <a href="/admin" class="hover:underline me-4 md:me-6 hover:text-purple-600 easehover">Admin</a>
        </li>
      </ul>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 
      <a href="/" class="hover:underline">ByteBot Chronicles™</a>. All Rights Reserved.
  </span>
</footer>