<div class="flex w-screen bg-gray-800 py-3 px-8 border-b border-teal-400/30">
  <nav class="flex w-full items-center justify-between">
    <!-- logo -->
    <div class="flex flex-row items-center">
      <fa-icon routerLink="/" [icon]="['fas', 'jedi']" class="logo text-5xl mr-3 cursor-pointer easehover"
        [class]="['text-teal-500']"></fa-icon>
      <a routerLink="/"
        class="text-2xl font-semibold text-gray-50 hover:text-teal-400 easehover trailing-widest">GeekGazette</a>
    </div>
    <!-- links -->
    <div class="flex">
      <ul class="flex">
        <li class="px-2">
          <a routerLink="/home" class="text-gray-50 hover:text-teal-400 easehover tracking-wide font-normal">Home</a>
        </li>
        <li class="px-2">
          <a routerLink="/about" class="text-gray-50 hover:text-teal-400 easehover tracking-wide font-normal">About</a>
        </li>
        <li class="px-2">
          <a routerLink="/admin" class="text-gray-50 hover:text-teal-400 easehover tracking-wide font-normal">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
</div>