<section class="flex justify-center items-center bg-gray-800">
  <div class="flex justify-center md:min-h-[50%] md:min-w-[30%] flex-col p-2 md:px-8 bg-neutral-900 rounded-md">
    <h2 class="mt-5 text-xl text-center text-gray-50">CONTACT</h2>
    <input class="my-2 p-1 text-sm bg-slate-800 rounded-sm border border-teal-400" #firstName placeholder="Name: " required/>
    <input class="my-2 p-1 text-sm bg-slate-800 rounded-sm border border-teal-400" #email placeholder="Email: "/>
    <input class="my-2 p-1 text-sm bg-slate-800 border border-teal-400" #phone placeholder="Phone: "/>
    <textarea class="my-2 p-1 text-sm bg-slate-800 rounded-sm border border-teal-400" #message placeholder="Message" required></textarea>
    <button class="bg-teal-500 my-2 py-1 border border-teal-400 hover:bg-gray-700 hover:text-gray-50" (click)="sendMessage(firstName.value, message.value, email.value, phone.value ); firstName.value = ''; message.value=''; email.value=''; phone.value='' ">
      Send
    </button>
  </div>
</section>