<section class="border p-2 rounded-sm border-gray-700">
  <div *ngFor="let item of reactions">
    <p>Likes: {{item.likes}}</p>
    <p>Dislikes: {{item.dislikes}}</p>
  </div>
  <div class="flex">
    <button (click)="addLike(this.id, this.likes)">Like<span></span>
      <fa-icon [icon]="faThumbsUp" [class]="['text-purple-600']"
        class="text-xl ml-2 cursor-pointer easehover text-center hover:text-purple-400"></fa-icon>
    </button>
    <button class="ml-2" (click)="addDislike(this.id, this.dislikes)">Dislike
      <fa-icon [icon]="faThumbsDown" [class]="['text-teal-500']"
        class="text-xl ml-2 cursor-pointer easehover text-center hover:text-teal-300"></fa-icon>
    </button>
  </div>
</section>