@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@200;400;500;600;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", "mono";
}
@layer components {
  .easehover {
    @apply transition duration-300 hover:ease-in;
  }
}